@page "/coupons"
@using BlazorInvest.Web.Extensions
@using BlazorInvest.Web.Models
@using BlazorInvest.Web.Services

@inject ICouponService CouponService

<PageTitle>Купоны и прочие выплаты</PageTitle>
@code {
    private IEnumerable<AccountCoupons> _accountCoupons = null!;
    private int _count;
    
    protected override async Task OnInitializedAsync()
    {
        _accountCoupons = await CouponService.GetCouponsByAccountsAsync();
        _count = _accountCoupons.Count();
    }
}

<div class="tab">
    @for (var i = 1; i <= _count; i++)
    {
        <button class="tablinks" onclick="openAccount(event, 'account-@i')">@_accountCoupons.ElementAt(i-1).Name</button>
    }
</div>

@for (var i = 1; i <= _count; i++)
{
    <div id="account-@i" class="tabcontent">
        @{
            var coupons = _accountCoupons.ElementAt(i - 1).Coupons;
            if (coupons.Any())
            {
                var groupedCoupons = coupons
                .GroupBy(c => c.When.GetMonthName())
                .ToDictionary(c => c.Key, c => c.ToArray());

            <table class="table table-hover">
                <tbody>
                    @foreach (var grouping in groupedCoupons)
                    {
                        var monthTotalTaxed = 0m;
                        <tr style="background-color: lightgray; text-transform: uppercase">
                            <td colspan="6" style="text-align: center; font-size: 20px"><strong>@grouping.Key</strong></td>
                        </tr>

                        @foreach (var coupon in grouping.Value)
                        {
                            var subTotal = coupon.Quantity * coupon.Amount;
                            var subTotalTaxed = subTotal * 0.87m;
                            monthTotalTaxed += subTotalTaxed;

                            <tr>
                                <td>
                                    <strong>
                                        @coupon.When.ToString("dd.MM.yyyy")
                                    </strong>
                                </td>
                                <td>
                                    @coupon.Title
                                </td>
                                <td>
                                    @coupon.Quantity
                                </td>
                                <td>
                                    @coupon.Amount
                                </td>
                                <td>
                                    @subTotal
                                </td>
                                <td>
                                    <strong>
                                        @Math.Round(subTotalTaxed, 2)
                                    </strong>
                                </td>
                            </tr>
                        }
                        
                        <tr>
                            <td colspan="5" style="text-align: right"><strong>Итого</strong></td>
                            <td><strong>@Math.Round(monthTotalTaxed, 2)</strong></td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
                <div class="alert alert-info">Нет данных по выплатам</div>
            }
        }
    </div>
}

<style>
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

<script language="javascript">
    function openAccount(evt, tabName) {
        // Declare all variables
        let i, tabContent, tabLinks;

        // Get all elements with class="tabcontent" and hide them
        tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>