@page "/"
@using BlazorInvest.Web.Models
@using BlazorInvest.Web.Services

@inject IAccountService AccountService

<PageTitle>Мои портфели</PageTitle>
@code {
    private IEnumerable<Account> _accounts = null!;
    
    protected override async Task OnInitializedAsync()
    {
        _accounts = await AccountService.GetActiveAccountsAsync();
    }
}

@foreach(var account in _accounts)
{
    <div style="background-color: lightgray; margin: 10px">
        <h1>@account.Name (открыт @account.OpenedAt.ToString("dd.MM.yyyy"))</h1>
        <p>Стоимость портфеля: @account.Total </p>
        <p>Доходность: @account.TotalYieldRelative %</p>
        <p>Доходность за день: @account.DailyYield (@account.DailyYieldRelative %)</p>
    </div>
}
